#wrapper {
	.toggler {
		width: 100%;
		border-radius: 0px !important;
	}
	
	#task-description {
		text-align: justify;
	}
	
	#task-data {
		
		input[type="text"] {
			height: 4rem;
    		padding: 0.7em 0.5em;    		
    		width: 86%;
		}
		button {
			width: 13%;
		}
	}
	
	.container {
		padding: 10px 10px;
	}
	
	footer {
		background-color: #fff;
	}
}